body {}

#formulario form {
    position: relative;
    margin-top: 50px;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: cecnter;
    width:
        700px;
    left: 23%;
    h2{
        margin-bottom: 75px;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}


label {
    color: #333;
    font-size: 15px;
    font-weight: 60px;
    margin-bottom: 15px;
}

#formulario input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #333;
    outline: none;
}

#formulario textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #333;
    outline: none;
}

#formulario input::placeholder,
textarea::placeholder {
    color: #b5cab6;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#formulario .btn {
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 50px;
    background-color: #3d8650;
    box-shadow: 0 0 10px rgba(25, 254, 0, 0.4);
    cursor: pointer;

}

#formulario .btn:hover {
    background-color: #49ff3566;

}

#formulario {
    margin-top: 100px;
}

.soloFormulario {
    margin-top: -170px;
}

/* Asegúrate de que el mapa tenga un tamaño específico */
#map {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}
#mapIntro{
    margin-top: 100px;
    margin-bottom: -150px;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.ruta {
    margin-top: 150px;
}
#routeButton:hover{
    background-color: #f3f3f3;
    border-color: #3d8650;
    color: #3d8650;
}
@media(max-width:1024px) {
    #formulario form {
        left:15%;
    }

}

@media(max-width:770px) {
    #formulario {
        margin-top: 400px;
        width: 100%;
    }
    #mapIntro {
        margin-top: 250px;
     
    }

    #ruta{
        margin-bottom: -200;
    }
    #formulario form {
        margin-top: 100px;
        padding: 50px 30px;
        left: 0px;
        width: 100%;
    }
    #ContactFormText{
        width: 100%;
    }
    input {
        padding: 15px;
    }

    input,
    textarea {
        padding: 17px 25px;
        border-radius: 25px;
        margin-bottom: 20px;
        width: 100%;
    }

}

@media(max-width:600px) {
   #formulario form {
        margin-top: 50px;
        left: 0px;
    }

    #formulario {
        margin-top: 255px;
    }

    #map {
        margin-top: 50px;
    }
}



.intro-single {
    padding: 1rem 0 3rem;
   
}

@media (max-width: 767px) {
    .intro-single {
        padding-top: 9rem;
    }
}

.intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
    border-left: 3px solid #2eca6a;
}

.intro-single .title-single-box .title-single {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .intro-single .title-single-box .title-single {
        font-size: 2.1rem;
    }
}

@media (min-width: 992px) {
    .intro-single .title-single-box .title-single {
        font-size: 2.5rem;
    }
}

.intro-single .breadcrumb-box {
    padding: 1rem 0 0 0.5rem;
}

.intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}