/*

Carousel


*/
body {
    background-color: #f3f3f3;
    /* #81866b;    
    /* Fondo claro */

}




.c-item {
    height: 520px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-inner img {
    height: 32rem;
    width: 100%;
}

/***********************

Card


************************/

.card {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    background-color: #fff;

}

.cardCarousel .carousel-inner {
    padding: 1em;
}

.cardCarousel h1 {
    color: #333;
    font-weight: bolder;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev span,
.carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (Min-width: 768px) {
    .cards-wrapper {
        display: flex;
        margin: 0 auto;
    }

    .card {
        margin: 0 .5em;
        width: calc(100% /3);

    }

    .image-wrapped {
        margin-top: 5px;
        
        display: flex;  
        margin: 0 auto;
    }

}

@media screen and (Max-width: 768px) {
    .image-wrapped {
        margin-top: 5px;
        
        display: flex;  
        margin: 0 auto;
    }
}

@media screen and (Max-width: 567px) {
    .card:not(:first-child) {
        display: none;
    }

   

}
#carouselExampleControlsSmallScreen{
    width: 100%;
}

.carouselCartas{
     width: 68%;
}

.image-wrapped img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    padding-top: 15px;
    
}

.ali .image-wrapped img {
    max-width: 100%;
    max-height: auto;
    border-radius: 0%;
}

/************************************************

Cuadro principal s

*************************************************/
#card1 {
    margin-top: 50px;
    padding: 0px;
    width: 100%;
    border: 1px;
    border-style: hidden;
    border-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    left: 50px;
}

#card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#card1-header {
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    text-align: center;

}

#card1-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#card1-price {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}

.card-body h5,
p {
    text-align: center;
}

.card-body .btn {
    display: flex;
    justify-content: center;
    background-color: #3d8650;
    margin-right: 50px;
    margin-left: 50px;
    color: #fff;
}

.cardCarousel .carousel-inner {
    width: 100%;
    margin-top: -200px;
}

.cardCarousel {
    margin-top: 50px;
    margin-bottom: 100px;
}

#cardTe {
    margin-top: 15px;
}

.btnTe {
    margin-top: 20px;
}

.cardCarousel .carousel-inner .img {
    width: 225px;
}

.cardCarousel .carousel-inner img {
    margin-top: 15px;
}
#Recomendados{
    margin-bottom: 20px;
}
@media (min-width:1000px) {
    .card {
        height: 375px;
    }

    .cardCarousel .carousel-inner {
        width: 100%;
    }
}
@media (min-width:1024px) {
    #Recomendados{
        margin-top: 150px;
        margin-bottom: -100px;
    }
}
@media (max-width:991px)  {
    .cardCarousel {
        margin-top: 200px;
        padding: 0px;
        margin-bottom: 200px;
    }
    #Recomendados{
        margin-bottom: -100px;
    }

 
    .cardCarousel .carousel-inner {
        width: 100%;
        margin-top: -200px;
    }

    .cardCarousel .carousel-inner .img {
        width: 100%;
    }

    .cardCarousel .carousel-inner img {
        margin-top: 0px;
    }
}

@media (max-width:600px) {
    .cardCarousel {
        margin-top: 0px;
        margin-bottom: 30px;

    }
    .carouselCartas{
        width: 100%;
    }
    #Recomendados{
        margin-top: 100px;
    }
    .cardCarousel .carousel-inner {
        width: 100%;
        margin-top: -200px;
    }


    .cardCarousel .carousel-inner img {
        margin-top: 0px;
    }

    .card {
        width: 100%;
    }

    .cardCarousel .carousel-inner img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:429px){
    .card {
        height: 350px;
    }

    .cardCarousel {
        margin-bottom: 75px;
    }
}
/*****************************************
Procesadora KÁBATA CUADRO
******************************************/
.kabataCuadro .container-fluid {
    color: #fff;
    background-color: #3d8650;
    padding-bottom: -200px;
    margin-top: -150px;
    width: 100%;
    padding-bottom: -500px;
    height: 20em;
}

#contenedorTerciario {
    position: relative;
    top: -100px;
    left: 100px;
    width: 75%;
}

.kabataCuadro #TextoPrincipal {
    margin-top: 50px;
    padding: 0px;
    width: 50%;
}

.kabataCuadro #TextoPrincipal p {
    position: relative;
    text-align: justify;
    left: 25px;
}

#dropdown-plantas{
    width: 175px;
}

@media (max-width:767px) {
.filtro{
    text-align: center;
}
.dropdown button {
    width: 100%;
}
#dropdown-plantas{
    width: 100%;
}
.dropdown-plantas li{
    text-align: center;
}
}

@media (max-width:991px) and (max-width:770px) {
    .kabataCuadro .container-fluid {
        margin-top: 150px;
        height: 100%;

    }

    #contenedorTerciario {
        position: relative;
        top: -75px;

    }

    .kabataCuadro #TextoPrincipal {
        width: 100%;
        margin-top: 50px;
        left: 0px;
    }

}

@media (max-width:1025px) {
    #contenedorTerciario {
        width: 90%;
        left: 50px;
    }

    .kabataCuadro .container-fluid {
        margin-top: -150px;
        width: 100%;
    }
}

@media (max-width:769px) and (min-width:605px) {
    .kabataCuadro .container-fluid {
        margin-bottom: 100px;
    }

    #contenedorTerciario {
        width: 70%;
        position: relative;
        top: 35px;
        left: 100px;

    }

    .kabataCuadro #TextoPrincipal p {
        left: 0px;
    }

    .kabataCuadro #TextoPrincipal {
        position: relative;
        width: 75%;
        left: 15%;
    }
}

@media (max-width:600px) {
    #contenedorTerciario {
        width: 80%;
        position: relative;
        top: 35px;
        left: 35px;

    }

    .kabataCuadro .container-fluid {
        padding-bottom: -200px;
        margin-top: -220px;
        width: 100%;
        height: 100%;
    }

    .kabataCuadro #TextoPrincipal {
        position: relative;
        margin-top: 50px;
        width: 70%;
        left: 15%;
    }

    .kabataCuadro #TextoPrincipal p {
        left: 0px;
    }

}

/*****************************************
Procesadora KÁBATA CUADROs finales index
******************************************/

#flipCard {
    margin-top: 50px;
    margin-bottom: 15px;
}

#flipCards {
    margin-top: 100px;
    margin-bottom: 400px;
}

.flip-card {
    perspective: 1000px;
    margin: 20px;
}

.flip-card .card {
    width: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back .card-body {
    margin-top: 70px;
}

.flip-card-back .card-text {
    margin-top: 20px;
    text-align: start;
    position: relative;
    left: 10px;
}

.flip-card .btn:hover {
    background-color: #c4db65;
}

@media (max-width: 600px) {
    .flip-card {
        position: relative;
        left: -15px;
        width: 100%;
        margin-bottom: 400px;
        padding: 20px;
    }

    #flipCard {
        margin-top: 550px;
        margin-bottom: 15px;
    }
}


@media (min-width: 1024px) {
    .flip-card {
        left: -15px;
        width: 100%;
        margin-bottom: 450px;
    }

}

@media (max-width: 1025px) {
    .flip-card {
        width: 90%;
        margin-top: 50px;
        margin-bottom: 400px;
    }

    #flipCard {
        margin-top: 100px;
        margin-bottom: 15px;
    }
    .btnTe{
        margin-top: 35px;
    }
    .flip-card .btn {
        width: 100%;
        position: relative;
        right: 50px;
    }

    .flip-card-back .card-body {
        margin-top: 0px;
    }

    .flip-card-back .card-text {
        margin-top: 20px;
        text-align: center;
        left: 0px;
    }
}

/*****************************************
Procesadora KÁBATA Loction
******************************************/

.tea-shop-section .container-fluid {
    padding: 1rem;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
}

.tea-shop-banner {
    overflow: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    height: 30rem;
}

.tea-shop-banner img {
    width: 100%;
}

.info-section {

    margin-bottom: 20px;
    margin-top: 0.1px;
    background-color: #235931;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 1px;
    padding: 10px;

    margin-bottom: 20px;
}

.info-box {}

.info-box h4 {
    margin-bottom: 10px;
    color: #f3f3f3;
}

.info-box p {
    color: #f3f3f3;
}

.buttons-section {
    text-align: center;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.buttons-section .btn {
    position: relative;
    width: 40%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    left: 50px;

}

.btn-primary {
    background-color: #235931;
    border-color: #fff;

}

.btn-primary:hover {
    background-color: #c4db65;
    border-color: #c4db65;
}

@media (max-width: 600px) {
    .tea-shop-banner {
        height: auto;
    }

    .buttons-section .btn {
        left: 0;
    }
}
.social-bar {
    color: #235931;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}@media (max-width: 600px){
    .social-bar{
        margin-top: 5px;
    }
}
.social-bar a {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}


/*****************************************
Tipos de Plantas
******************************************/

.caja{
    border: none;
    background-color: #f3f3f3;
    border-bottom: solid #727272;
}
.caja:hover{
    border-bottom: solid #235931;
}
.tituloTipoPlanta{
    width: 70%;
    margin-top: 100px;
    margin-bottom: 15px;
}
#container-plantas{
    width: 90%;
    margin: 0 auto;
}

.planta{
    width: 33%;
    height: auto;
    margin: 5px auto;
}

.title-plantas p{
    font-size: large;
}

.title-plantas p:first-child{
    margin-top: 10px;
    font-size: larger;
}

.cardplantas{
    margin-top: 20px;
}

.planta .card{
    width: 100%;
    height: 400px;
    margin-top: 10px;
}
.planta .card .image-wrapped img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media (max-width: 850px) {
    .planta{
        width: 50%;
    }
}
@media (max-width: 668px) {
    
    .planta{
        width:100%;
    }
    .card .image-wrapped img{
        display: flex;
        margin: 0 auto;
    }
    .planta .card .image-wrapped{
        margin-top: 10px;
    }
}
