/*****************

   Intro

    ******************/

#nosotros-Intro {
    position: relative;
    margin-top: 100px;
    left: -5px;

}

/*****************

    Info Principal

    ******************/

.infoPrincipal {
    position: relative;
    margin-top: 0px;
    left: 20px;
    text-decoration: none;
}

.infoSecundaria {
    position: relative;
    margin-top: 50PX;
    left: 50px;

}

li {
    text-decoration: none;
    list-style: none;
}

.infoSecundaria {}

#imagenInfoUno img {
    border-radius: 5px;
}

#imagenInfoDos img {
    border-radius: 5px;
}

.txtSecundario {
    text-align: center;
}



#imagenInfoUno img {
    width: 90%;
}

#imagenInfoDos img {
    width: 90%;
}

#imagenInfoDos {


}

#imagenInfoUno {

}

.txtSecundario {
    position: relative;
    right: 70px;
}

.infoPrincipal .textoPrincipal {
    position: relative;
    left: 20px;
}


@media (max-width:769px) {
    #nosotros-Intro {
        margin-top: 300px;
    }

    .infoPrincipal {
        left: 0px;
        margin-top: -50px;
    }

    .infoSecundaria {
        left: 0px;
    }

    #imagenInfoUno {
        margin-top: 20px;
        width: 98%;
        position: relative;
        left: 4%;
    }

    .infoPrincipal .textoPrincipal {
        left: 0px;
    }

    #imagenInfoDos {

        margin-top: -20px;
        width: 105%;
        margin-bottom: 50px;
    }

    .txtSecundario {
        right: 0px;
        left: 0px;
    }
}

@media (max-width:600px) {


    #nosotros-Intro {
        left: 0px;
        margin-top: 220px;
    }

    .infoPrincipal {
        margin-top: -70px;
        left: 0px;
    }

    .infoSecundaria {
        left: 0px;
    }

    .infoPrincipal .textoPrincipal {
        position: relative;
        left: 10px;
    }

    #imagenInfoUno {
        position: relative;
        left: 10px;
    }

    #imagenInfoUno {
        width: 142%;
    }

    #imagenInfoDos {
        width: 125%;
        position: relative;
        left: 10px;
        margin-bottom: 25px;

    }

    .txtSecundario {
        position: relative;
        right: 0px;
        left: 10px;
    }
}

/*****************

    Info Principal

    ******************/
body {
    /*background-color: #81866b;*/


    text-align: start;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

.leaf-card {
    margin-top: 50px;
    position: relative;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* border-radius: 50px 20px 50px 20px;*/
    overflow: hidden;
    transition: transform 0.3s;
    height: 275px;
    width: 100%;
    color: #333;
}

.leaf-card .card-text {
    margin-top: 20px;
}

.leaf-card:hover {
    transform: scale(1.05);
    background-color: #3d8650;
    color: #fff;
}

.leaf-card::before,
.leaf-card::after {
    content: '';
    position: absolute;
    /* background-color: #375419fb;*/
    border-radius: 50%;
}

.leaf-card::before {
    top: -60px;
    left: -60px;
    width: 100px;
    height: 100px;
}

.leaf-card::after {
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
}

.leaf-card-content {
    position: relative;
    z-index: 1;
}

/************************
        Video
*************************/
.video {
    margin-top: -400px;
}

.video .container {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .video .container iframe {
        width: 110%;
    }

}

@media (max-width:1024px) and (min-width: 769px) {
    .video {
        margin-top: -50px;
    }
}


@media (min-width: 768px) {
    #cardNosotros .carousel-inner {
        display: flex;
    }

    #cardNosotros .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

#cardNosotros .carousel-inner {
    padding: 1em;
}

#cardNosotros .card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#cardNosotros .carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}