.footer{
    color: #666777;
    padding-bottom: 40px;
    border-top: hidden;
    border-color: #009979;
    margin-top: 50px;
    background-color: #fff;
    
}

.info-footer p{
    padding-left: 30px;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    color: #009979;
    text-decoration: none;
}

.caja {
    margin: 0 auto;
}

.info-footer a{
    padding-left: 30px;
    display: block;
    font-size: 15px;
    color: #666777;
    text-decoration: none;
   text-align: justify;
  
}

.info-footer a:hover{
    color: #009979;
    text-decoration: none;
}

.logo-footer{
    width: 125%;
    height: 100%;
    padding: 50px;
    display: inline;
}

.img-footer{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;

}
