.footer {
    color: #666777;
    padding-bottom: 40px;
    border-top: hidden;
    border-color: #009979;
    margin-top: 50px;
    background-color: #e1e1e1;

}

.info-footer p {
    padding-left: 30px;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    color: #009979;
    text-decoration: none;

}

.caja {
    margin: 0 auto;
}
.info-footer a:hover {
    color: #009979;
    text-decoration: none;
}

.logo-footer {
    width: 125%;
    height: 100%;
    padding: 50px;
    display: inline;
}
.info-footer a {
    padding-left: 30px;
    display: block;
    font-size: 15px;
    color: #666777;
    text-decoration: none;
    text-align: justify;
    position: relative;
    left: 30px;
}
.info-footer .Al {
    position: relative;
    left: 10px;
}
.info-footer .So {
    position: relative;
    left: 80px;
}
.img-footer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: -50px;
    margin-bottom: 50px;

}

@media (max-width: 1025px){
    .info-footer a {
        position: relative;
        left: 38px;
    }
    .info-footer .Al {
        position: relative;
        left: 16px
    }
    .info-footer .So {
        position: relative;
        left: 25px
    }
}
@media (max-width: 769px){
    .info-footer a {
        position: relative;
        left: 15px;
    }
   
    .info-footer .So {
        position: relative;
        left: 30px
    }
    .logo-footer{
        width: 150%;
        height:100% ;
    }
}
@media (max-width: 600px){
    .info-footer a {
        text-align: start;
    }
   
  
    .img-footer {
        position: relative;
        width: 60%;
        height: 100%;
        margin: 0 auto;
        top: -50px;
        margin-top: 100px;
        margin-bottom: 0px;
        left: -30px;
    
    }
}
