/*

Header 

*/
.navbar{
    background-color: #fff;
    height: 20px;
    margin: 0px;
    border-radius: 0px;
    padding: 3rem;
}
.banner{
    margin-top: 110px;
    margin-left: 13px;
    margin-right: 13px;

}
.navbar .container-lg{
    margin-top: -10px;
}
@media (max-width:991px){
    .navbar{
        
        height: 0px;
        margin: 0px;
        padding: 2.50em;       
    }
   .navbar .container-lg{
        margin-top: -30px;
   }
    .banner{
        margin-top: 80px;
        height: 0px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    
    }

}
@media (max-width:500px){
    .navbar .container-lg{
        height: 0px;
        margin: 0px;
        padding: 0px;       
       
    }
    
    .navbar .container-lg{
        margin-top: -50px;
   }
    .banner{
        margin-top: 80px;
        height: 0px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    
    }
    #NavLogo{
        height: 50px;
        width: 100px;
        border-radius: 0px;
     
    }
    .login-button{
        right: 0%;
        left: 0px;  
        top: 0px;
    } 
    .search-button{
        right: 0%;
        left: 0px;  
        top: 0px;
    }
}
.CarouselImagenes{
    height: 1rem;
}
#NavLogo{

    margin: 0px;
    border-radius: 10px;
    padding: 0;
}
.navbar-brand{
    font-weight: 500;
    color: #009979;
    font-size: 20px;
    transition: 0.3s color;
    margin: 0px;
    padding: 0px;
    width: 13%;

}
.Login-button {
    position: relative;
    background-color: #009979;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    right: 5%;
}
.login-button{
    position: relative;
    right: 0%;  
    top: 2px;
} 
.search-button{
    position: relative;
    transition: 0.3s background-color;
    right: 10%;  
    top: 2px;
}
.Login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

/* Media*/
@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #009979;
        visibility: hidden;
        transition: 0.3 ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
.dropdown-item.active, .dropdown-item:hover{
    background-color: #00b383;
    color: #fff;
}
