#login body {}
#login{

}
#login form {
    position: relative;
   
    margin-top: 150px;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 500px;
    left: 30%;
}

#login .input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
 
}
.input-group{
    margin-top: -50px;
}
#login .titulo {
    color: #333;
    font-size: 35px;
    margin-bottom: 50px;
}

#login label {
    color: #333;
    font-size: 15px;
    font-weight: 60px;
    margin-bottom: 15px;
}

#login input,
textarea {
    padding: 17px 25px;
    border-radius: 50px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #333;
    outline: none;
}

#login input::placeholder,
textarea::placeholder {
    color: #b5cab6;
}
#login .form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#login .form-txt a{
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
#login  .btn{
    font-size: 16px;
    color: #fff;
    border:0;
    border-radius:50px;
    background-color: #3d8650;
    box-shadow: 0 0 10px rgba(25,254,0,0.4);
    cursor:pointer;

}
#login .btn:hover{
    background-color: #49ff3566;
      
}
@media(max-width:1024px){
    #login form{
    left: 23%;
    }

}
@media(max-width:991px){
  
    #login form{
        margin-top: 400px;
        padding: 50px 30px;
        left: 0px;
        width: 100%;
    }
    #login input{
        padding: 15px;
    }
    #login input,
    #login textarea {
        padding: 17px 25px;
        border-radius: 25px;
        margin-bottom: 20px;
        width: 100%;
    }
    
}
#formulario p{
    margin-top: 150px;
    font-size: 18px;
    margin-bottom: -90px;
    text-decoration: none;

}


